/* boiler plate for CSS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}


/* main body  */
#main {
    position: relative;
    width: 100%;
}

#page {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;

}

#page3 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
}

/* canvas */
canvas {
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}



/* loop */
.loop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 30%;
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: transparent;
    font-size: 70px;
    white-space: nowrap;

}

.loop h1 {
    font-weight: 500;
    animation: anime;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loop span {
    -webkit-text-stroke: 1.2px black;
    color: transparent;
}

@keyframes anime {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}





/* navbar  */
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 9;
    padding: 0px 30px;
}

#nav h3 {

    font-weight: 400;
    font-size: 22px;
}

#nav button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
}

/* page 1  */
#page h3 {
    position: absolute;
    top: 55%;
    font-size: 15px;
    font-weight: 400;
    color: rgb(57, 57, 57);
    margin-left: 5%;
}


#page h4 {
    position: absolute;
    top: 60%;
    left: 20%;
    font-weight: 500;
}



/* page 2  */
#page1 .right-text {
    position: absolute;
    top: 30%;
    left: 5%;
}

.right-text h3 {
    color: rgb(54, 54, 54);
}

.right-text h1 {
    line-height: 1.5;
    font-size: 50px;
}

#page1 .left-text {
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: end;
}

.left-text h3 {
    color: rgb(54, 54, 54);
}

.left-text h1 {
    line-height: 1.5;
    font-size: 50px;
}



/* page 3  */
#page2 #text1 {
    position: absolute;
    top: 30%;
    left: 5%;
}

#text1 h3 {
    color: rgb(54, 54, 54);
}

#text1 h1 {
    line-height: 1.5;
    font-size: 50px;
}

#page2 #text2 {
    position: absolute;
    top: 60%;
    right: 8%;
    text-align: right;
}

#text2 h3 {
    color: rgb(54, 54, 54);
}

#text2 h1 {
    line-height: 1.5;
    font-size: 50px;
}


/* page 4  */
#page3 #right {
    position: absolute;
    top: 30%;
    left: 5%;
}

#right h6 {
    color: rgb(54, 54, 54);
}

#page3 #left {
    z-index: 9;
    position: absolute;
    top: 50%;
    right: 8%;
    text-align: right;
}

#left h1 {

    color: rgb(54, 54, 54);
}

#left h3 {
    line-height: 1.5;
    font-size: 50px;
}